@tailwind components;
@tailwind base;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    @apply text-grayModern-700;

    @font-face {
      font-family: 'IBM Plex Sans';
      src: url('../assets/fonts/IBMPlexSans-Regular.ttf');
      font-weight: 400;
      font-style: normal;
    }

    @font-face {
      font-family: 'IBM Plex Sans';
      src: url('../assets/fonts/IBMPlexSans-Medium.ttf');
      font-weight: 500;
      font-style: normal;
    }
    @font-face {
      font-family: 'IBM Plex Sans';
      src: url('../assets/fonts/IBMPlexSans-SemiBold.ttf');
      font-weight: 600;
      font-style: normal;
    }
  }

  //blockquote,
  //dl,
  //dd,
  //h1,
  //h2,
  //h3,
  //h4,
  //h5,
  //h6,
  //hr,
  //figure,
  //p,
  //pre {
  //  @apply text-grayModern-700;
  //  @apply font-normal;
  //}
  //
  //input[type="number"]::-webkit-outer-spin-button,
  //input[type="number"]::-webkit-inner-spin-button,
  //input[type="number"] {
  //  -webkit-appearance: none;
  //  margin: 0;
  //  -moz-appearance: textfield !important;
  //}
}

@layer components {
  .block-text-renderer ol,
  .block-text-renderer ul {
    @apply pl-5 list-disc;
  }

  .block-text-renderer h1,
  .block-text-renderer h2,
  .block-text-renderer h3,
  .block-text-renderer h4,
  .block-text-renderer h5,
  .block-text-renderer h6 {
    @apply text-base font-semibold;
  }

  .block-text-renderer pre {
    @apply whitespace-normal text-xs text-grayModern-700 border border-solid rounded-md px-2 py-1 my-2;
  }
  .block-text-renderer hr {
    @apply py-2;
  }
  .block-text-renderer blockquote {
    @apply relative pl-3 rounded-none align-text-bottom;
  }
  .block-text-renderer blockquote:before {
    content: '';
    @apply absolute top-0 left-0 w-[2px] h-full bg-grayModern-400;
  }
  .block-text-renderer blockquote p {
    @apply text-grayModern-500;
  }
  .block-text-renderer blockquote .customeros-tag {
    @apply text-grayModern-700 font-medium;
  }
  .block-text-renderer blockquote .customeros-tag:before {
    content: '#';
  }

  .block-text-renderer blockquote .customeros-mention {
    @apply text-grayModern-700 font-medium;
  }
  .block-text-renderer blockquote .customeros-mention:before {
    content: '@';
  }
  .block-text-renderer[aria-hidden='true'] {
    @apply hidden;
  }

  .block-text-renderer h2.primary-text {
    @apply text-grayModern-700 font-medium;
  }
  .block-text-renderer a.primary-button-text {
    @apply py-1 px-2 mb-2 border border-solid border-primary-200 text-primary-700 bg-primary-50 rounded-md w-fit;
  }
  .block-text-renderer a.primary-button-text:hover {
    @apply no-underline bg-primary-100 text-primary-700 border-primary-200;
  }
  .block-text-renderer a.primary-button-text:active {
    @apply no-underline bg-primary-100 text-primary-700 border-primary-200;
  }
  .block-text-renderer a.primary-button-text:focus {
    @apply no-underline bg-primary-100 text-primary-700 border-primary-200 ring-4 ring-primary-100;
  }

  .block-text-renderer .body-container {
    @apply mt-3 p-4 block border border-solid border-grayModern-300 rounded-md;
  }

  .block-text-renderer .body-container tr {
    @apply mr-2 flex;
  }
  .block-text-renderer .body-container tbody {
    @apply mb-2;
  }
  .block-text-renderer .body-container table {
    margin-inline-start: 0;
    margin-inline-end: 0;
  }

  .block-text-renderer .main-column-table-ltr {
    @apply my-3;
  }
  .block-text-renderer .grey-button-text:not(a) {
    @apply text-grayModern-700 w-fit font-medium;
  }

  .inline-text-renderer {
    @apply inline;
  }
  .inline-text-renderer ol,
  .inline-text-renderer ul {
    @apply pl-0;
  }

  .inline-text-renderer h1,
  .inline-text-renderer h2,
  .inline-text-renderer h3,
  .inline-text-renderer h4,
  .inline-text-renderer h5,
  .inline-text-renderer h6 {
    @apply text-sm font-medium;
  }

  .inline-text-renderer pre {
    @apply whitespace-normal text-xs text-grayModern-700 border border-solid rounded-md px-2 py-1 my-2;
  }
  .inline-text-renderer hr {
    @apply py-2;
  }
  .inline-text-renderer blockquote {
    @apply relative pl-0 rounded-none align-text-bottom;
  }
  .inline-text-renderer blockquote:before {
    content: '';
    @apply absolute top-0 left-0 w-0 h-full bg-grayModern-400;
  }
  .inline-text-renderer blockquote p {
    @apply text-grayModern-500;
  }
  .inline-text-renderer blockquote .customeros-tag {
    @apply text-grayModern-700 font-medium;
  }
  .inline-text-renderer blockquote .customeros-tag:before {
    content: '"#"';
  }

  .inline-text-renderer blockquote .customeros-mention {
    @apply text-grayModern-700 font-medium;
  }
  .inline-text-renderer blockquote .customeros-mention:before {
    content: '"@"';
  }
  .inline-text-renderer[aria-hidden='true'] {
    @apply hidden;
  }

  .inline-text-renderer h2.primary-text {
    @apply text-grayModern-700 font-medium;
  }
  .inline-text-renderer a.primary-button-text {
    @apply py-1 px-2 mb-2 border border-solid border-primary-200 text-primary-700 bg-primary-50 rounded-md w-fit;
  }
  .inline-text-renderer a.primary-button-text:hover {
    @apply no-underline bg-primary-100 text-primary-700 border-primary-200;
  }
  .inline-text-renderer a.primary-button-text:active {
    @apply no-underline bg-primary-100 text-primary-700 border-primary-200;
  }
  .inline-text-renderer a.primary-button-text:focus {
    @apply no-underline bg-primary-100 text-primary-700 border-primary-200 ring-4 ring-primary-100;
  }

  .inline-text-renderer .body-container {
    @apply mt-3 p-4 block border border-solid border-grayModern-300 rounded-md;
  }

  .inline-text-renderer .body-container tr {
    @apply mr-2 flex;
  }
  .inline-text-renderer .body-container tbody {
    @apply mb-2;
  }
  .inline-text-renderer .body-container table {
    margin-inline-start: 0;
    margin-inline-end: 0;
  }

  .inline-text-renderer .main-column-table-ltr {
    @apply my-3;
  }
  .inline-text-renderer .grey-button-text:not(a) {
    @apply text-grayModern-700 w-fit font-medium;
  }

  .slack_code {
    @apply border border-grayModern-300 bg-white;
  }

  div.slack_code {
    @apply text-grayModern-100 px-[0] py-[0.025em];
  }

  span.slack_code {
    @apply text-rose-500 w-fit px-[0] py-[0.025em];
  }
  .slack_bold {
    @apply font-bold;
  }

  .slack_italic {
    @apply italic;
  }

  input[type='time']::-webkit-datetime-edit-hour-field:focus,
  input[type='time']::-webkit-datetime-edit-minute-field:focus,
  input[type='time']::-webkit-datetime-edit-second-field:focus,
  input[type='time']::-webkit-datetime-edit-ampm-field:focus {
    @apply bg-grayModern-500;
  }
}

.scrollbar *::-webkit-scrollbar {
  width: 8px;
}

.scrollbar *::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar *::-webkit-scrollbar-thumb {
  background: var(--grayModern-400, #98a2b3);
  width: 8px;
  border-radius: 8px;
}

.lp_pass {
  display: none !important;
}

@keyframes line-animated {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
.react-flow {
  --xy-edge-stroke-default: #d0d5dd;
}

.react-flow__edge.react-flow__edge-baseEdge {
  ----xy-edge-stroke-default: #d0d5dd;
  --xy-edge-stroke-selected-default: #d0d5dd;

  path {
    transition: stroke 0.3s;
  }
}

.react-flow__node.selected > .border {
  border-color: #7f56d9;
}

.react-flow__controls-button {
  border-right: 8px;
  padding: 8px;
}

.react-flow__controls {
  box-shadow: none;
}
.react-flow__marker polyline {
  stroke: var(--xy-edge-stroke-default) !important;
  stroke-width: 1.5px !important;
}

.react-flow__controls-button svg {
  fill: transparent;
  max-width: unset;
  max-height: unset;
}
.react-flow__controls-button:disabled {
  pointer-events: unset;
}

.editor__listItemChecked,
.editor__listItemUnchecked {
  position: relative;
  margin: 0 8px;
  padding: 0 28px; /* Increased padding to better align text */
  list-style: none;
  outline: none;
  font-size: 1rem;
  color: #374151; /* Tailwind 'grayModern-700' for text */
}

.editor__listItemChecked {
  text-decoration: line-through;
  color: #6b7280; /* Tailwind 'grayModern-500' for lighter crossed-out text */
}

.editor__listItemUnchecked::before,
.editor__listItemChecked::before {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;
  border-radius: 3px; /* Slightly rounded corners */
  transition: all 0.2s ease; /* Smooth transitions */
}

.editor__listItemUnchecked::before {
  border: 1px solid #d0d5dd; /* Light grayModern border for unchecked */
  background-color: transparent;
}

.editor__listItemChecked::before {
  background-color: #717bbc; /* Tailwind 'indigo-500' for a nice blue fill */
  border: 1px solid #717bbc; /* Border color matches background */
  display: flex;
  align-items: center;
  justify-content: center;
}

.editor__listItemChecked::after {
  content: '';
  width: 5px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 1.5px 1.5px 0;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 5.5px;
  transform: translateY(-60%) rotate(45deg);
}

.editor__listItemUnchecked:hover::before,
.editor__listItemChecked:hover::before {
  border-color: #363f72; /* Darker blue border on hover */
}

.editor__listItemUnchecked:focus::before,
.editor__listItemChecked:focus::before {
  box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.4); /* Blue focus ring */
}

.editor__nestedListItem {
  list-style: none;
}

.editor-link {
  color: #0000ee;
  text-decoration: underline;
  cursor: pointer;
}

.lexical-invalid-text {
  color: #dc6803;
}
